<mat-card class="director-dialog">
  <mat-card-title class="director-dialog-title">Director</mat-card-title>
  <br />
  <mat-dialog-content class="director-dialog-content">
    <b>Name: </b>{{ data.Name }}
    <br />
    <b>Bio: </b>{{ data.Bio }}
    <br />
    <b>Birthday: </b>{{ data.Birth }}
  </mat-dialog-content>
  <mat-card-actions class="director-actions">
    <button 
      class="director-close-button" 
      mat-stroked-button 
      aria-label="Close Director details" 
      mat-dialog-close 
      color="primary"
    >
      Close
    </button>
  </mat-card-actions>
</mat-card>